.App {
 
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden !important;
  

  
}
.App button{
    transition: .3s ease;
}

.App button:focus{
  outline: 0;
}

html,body{
  overflow-x: hidden !important;
}

