.cards{
    width: 100%;
    display: flex;
    margin-top: 50px;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .main-title{
        font-size: 25pt;
        font-weight: bold;
    }
    .under-main-title{
        line-height: 25px;
        margin-left: auto;
        margin-right: auto;
        max-width: 500px;
        font-size: 11pt;
        color:#C4C4C4 ;
        
    }

    .cards-content{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 50px;
        position: relative;


        .connector{
            z-index: 0;
            content: ' ';
            min-width: 500px;
            margin-top: 110px;
            position: absolute;
            height: 5px;
            background-color: #2BD0D0;
        }

        .card{
            z-index: 1;
            position: relative;
            text-align: left;
            padding: 10px;
            padding-top: 50px;
            max-width: 290px;
            height: 220px;
            margin-left:30px;
            &:nth-of-type(2){
                margin-top: 30px;
                
            }
            &:nth-of-type(3){
                margin-top: 60px;
            }

            .card-icon{
                background-color: #4B3F6B;
                border-radius: 50%;
                top: -30px;
                width: 60px;
                height: 60px;
                padding-top: 15px;
                text-align: center;
                position: absolute;
                
                img{
                    width: 30px;
                    height: 30px;
                }
            }
            .card-title{
                font-weight: bold;
            }
            .card-text{
                font-size: 10pt;
                color: #b5b5b5;
            }
        }
    }
}

@media screen and(max-width:840px){

    
    .cards-content{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
     
        flex-direction: column;
        
        .card{
            text-align: center !important;
            margin-top: 40px !important;
            margin-left: 0 !important;
        }
    }

    .connector{
        display: flex;
        align-self: center;
        transform: rotate(90deg) ;
    }
}