.get-started-btn{
    margin-top: 10px;
    background-color: hsl(180, 66%, 49%);
    color: white;
    border: 0;
    height: 50px;
    width: 175px;
    border-radius:70px;
    font-family: inherit;
    font-size: 14pt;

    &:active{
        background-color: hsla(180, 66%, 49%, 0.502);
    }
    &:focus{
        outline: 0;
    }

   }