.url-section{
    width: 78% ;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    align-items: center;
    min-height: 100px;
    background-color:#3A3054;
    border-radius: 7px;
    background-image: url(../images/bg-shorten-desktop.svg);
    background-repeat: no-repeat;
    background-position: top ;
    background-size: cover;
    padding: 2.5%;
   
        
        
        .url-input{
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            border-radius: 7px;
            border: 0;
            height: 50px;
            width: 90% !important;
            
            &:focus{
                outline: 0;
            }
        }

        .shorten-btn{
            height: 50px;
            width:130px;
            border-radius: 10px;
            border: 0;
            color: white;
            background-color: hsl(180, 66%, 49%);
            margin-left: 2%;
            &:focus{
                outline: 0;
            }
            &:active{
                background-color: hsla(180, 66%, 49%, 0.502);
            }
        }

        .error{
            border: 2px red solid;
                &::placeholder{
                    color: red !important;
                    opacity: 1;
                
            }


        }

        .err-message{
            position: absolute;
            bottom: 17px;
            font-size: 11pt;
            color: red;
            font-style: italic;

        }
    
}